body {
  max-width: 1080px;
  margin: auto;
  background-color: #f5f4f4;
}

div img {
  width: 100%;
  border-radius: 4px;
}

form {
  margin: 15px;
  text-align: left !important;
}

h2 {
  text-align: center;
  margin-top: 30px;
}

.pagebutton {
  text-align: center;
  margin: 20px 0px;
}

.row {
  margin-bottom: 15px;
}

.img-responsive {
  margin-left: 10px;
}
